.post-info {
  padding-bottom: 30px;
  margin: 20px 0 5px;
  padding-top: 20px;
}

.post-content {
  line-height: 35px;
  padding-bottom: 50px;
}

.post-content h1, h3, code, pre {
  padding-bottom: 10px;
  padding-top: 10px;
}

.post-content h2 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.post-title ul {
  margin: 0;
  padding: 0;
}

.post-title ul {
  list-style-type: none;
}
.post-title ul > li {
  text-indent: -5px;
}
.post-title ul > li:before {
  content: "- ";
  text-indent: -5px;
}