<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TLCVNKXMFJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TLCVNKXMFJ');
</script>

<body>
    <div class="wrapper">
        <header class="wrapper-header">
            {% include header.html %}
        </header>

        <main class="wrapper-main">
            <div class="main-content">
            {{ content }}
            </div>
        </main>
    </div>

    <footer class="wrapper-footer">
        {% include footer.html %}
    </footer>
</body>
</html>
